@model dynamic
@{
    ViewBag.Title = "PassUsingViewBag";
}

<h2>PassUsingViewBag</h2>
<ul>
    <li>Rand value first: @ViewBag.number1</li>
    <li>Rand value second: @ViewBag.number2</li>
    <li>@ViewBag.Number1 + @ViewBag.Number2 = @ViewBag.Summ</li>
    <li>@ViewBag.Number1 - @ViewBag.Number2 = @ViewBag.Subtraction</li>
    <li>@ViewBag.Number1 * @ViewBag.Number2 = @ViewBag.Multiplication</li>
    <li>@ViewBag.Number1 / @ViewBag.Number2 = @ViewBag.Division</li>
</ul>