@model WebApplication1.Models.NumbersViewModel
@{
    ViewBag.Title = "PassUsingModel";
}

<h2>PassUsingModel</h2>
<li>Rand value first: @Model.number1</li>
<li>Rand value second: @Model.number2</li>
<li>@Model.number1 + @Model.number2 = @Model.Summ</li>
<li>@Model.number1 - @Model.number2 = @Model.Subtraction</li>
<li>@Model.number1 * @Model.number2 = @Model.Multiplication</li>
<li>@Model.number1 / @Model.number2 = @Model.Division</li>
